*.pdf
*.zip
*.tmp.nlogo
bjsConwayLife.nlogo
Unit 1 - What is Complexity/AntsNew_v_6.1.1.nlogo
Unit 1 - What is Complexity/MultipleAnts-v_6.1.1.nlogo
Unit 2 - Dynamics and Chaos/LogisticModel_v_6.1.1.nlogo
Unit 3 - Fractals/BoxCountingDimension_v_6.1.1.nlogo
Unit 3 - Fractals/ExamplesOfFractals_v_6.1.1.nlogo
Unit 4 - Information, Order, and Randomness/LogisticMapInformationContent_v_6.1.1.nlogo
Unit 4 - Information, Order, and Randomness/TextInformationContent_v_6.1.1.nlogo
Unit 5 - Genetic Algorithms/RobbyGA_v_6.1.1.nlogo
Unit 6 - Cellular Automata/elementary CAs.nlogo
Unit 6 - Cellular Automata/GameOfLife-v_6.1.1.nlogo
Unit 6 - Cellular Automata/Mini-Life_v_6.1.1.nlogo
