.*.pdf
.*.tmp.nlogo
bjsConwayLife.nlogo
Unit 1 - What is Complexity/AntsNew_v_6.1.1.nlogo
Unit 1 - What is Complexity/MultipleAnts-v_6.1.1.nlogo
Unit 1 - What is Complexity/Unit1Homework.pdf
Unit 2 - Dynamics and Chaos/LogisticModel_v_6.1.1.nlogo
Unit 2 - Dynamics and Chaos/Unit2Homework.pdf
Unit 3 - Fractals/BoxCountingApplied.zip
Unit 3 - Fractals/BoxCountingDimension_v_6.1.1.nlogo
Unit 3 - Fractals/ExamplesOfFractals_v_6.1.1.nlogo
Unit 3 - Fractals/Unit3Homework.pdf
Unit 4 - Information, Order, and Randomness/LogisticMapInformationContent_v_6.1.1.nlogo
Unit 4 - Information, Order, and Randomness/MyL17.pdf
Unit 4 - Information, Order, and Randomness/TextInformationContent_v_6.1.1.nlogo
Unit 4 - Information, Order, and Randomness/Unit4Homework.pdf
Unit 5 - Genetic Algorithms/RobbyGA_v_6.1.1.nlogo
Unit 5 - Genetic Algorithms/Unit5Homework.pdf
Unit 6 - Cellular Automata/elementary CAs.nlogo
Unit 6 - Cellular Automata/GameOfLife-v_6.1.1.nlogo
Unit 6 - Cellular Automata/Mini-Life_v_6.1.1.nlogo
Unit 6 - Cellular Automata/Unit6Homework.pdf
Unit 7 - Models of Biological Self-Organization/pcbi.1002670.pdf
Unit 7 - Models of Biological Self-Organization/Unit7Homework.pdf
